body{
	background-image: url("images/bridge.jpg");
	background-color: #262626;
	opacity: 0.9;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:  100%;

}
a{
    text-decoration: none;
    font-family: helvetica;
     font-size: 14px;
     font-weight: lighter;

}

hr{
	width: 48%;
	margin-bottom: 20px;
	margin-top: 20px;
}


ul.navbar {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    color: #f4f4f4;
    letter-spacing: 5px;

}

.navbar{
	margin-left: -40px;
 	margin-top: 100%;
	
}

.navbar a {
	color: #f4f4f4;
}

.navbar a:hover {
	color: #3498DB;
}


.navbar li {
	margin-bottom: 15px;
}


#aside {
	display: none;
	opacity: 1;
	background-image: url("images/navbar-bg.png");
	width: 260px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

 
}
