body{
	background-image: url("images/bridge.jpg");
	background-color: #262626;
	opacity: 0.9;
	background-repeat: no-repeat;
	background-size:  100%;

}
a{
    text-decoration: none;
    font-family: helvetica;
     font-size: 14px;
     font-weight: lighter;

}

hr{
	width: 48%;
	margin-bottom: 20px;
	margin-top: 20px;
}


ul.navbar {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    color: #f4f4f4;
    letter-spacing: 5px;

}

.navbar{
	margin-left: -40px;
 	margin-top: 100%;
	
}

.navbar a {
	color: #f4f4f4;
}

.navbar a:hover {
	color: #F39C12;
}


.navbar li {
	margin-bottom: 15px;
}


#aside {
	display: none;
	opacity: 1;
	background-image: url("images/navbar-bg.png");
	width: 260px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

 
}

#form{
	position: relative;
	margin-left: 40%;
	margin-top: 20%;
	display: none;
}


#useremail{
	border: 2px solid;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 250px;
	border-color: #F39C12;
	background: transparent;
	color: #F39C12;
	margin-left: 5%;
	letter-spacing: 1px;

}


#newsletter_button{
	border: 2px solid;
	border-color: #F39C12;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background: #F39C12;;
	color: #F4f4f4;
	text-align: center;
	margin-left: 8px;
	letter-spacing: 1px;
}
#newsletter_button:hover{
	border: 2px solid;
	border-color: #E67E22;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background: #E67E22;;
	color: #F4f4f4;
	text-align: center;
	margin-left: 8px;
	letter-spacing: 1px;
}
h1 {
	font-family: helvetica;
	font-size: 32px;
	font-weight: lighter;
	letter-spacing: 8px;
	color: gray;

}

.error{
font-family: helvetica;
font-size: 12px;
font-weight: lighter;
color: #C0392B;
margin-top: 8px;
margin-left: 37px;
display: block;
position: absolute;
}